<head>
<style>
p { border-style:solid; border-color:#287EC7; font-size: 40px}
</style>

</head>

<h1> The Arena </h1>
<%= @player_1_name %> attacked <%= @player_2_name %><br>
<%= @player_2_name %> lost 10 HP!<br>
<font size="80"><%= @player1name %></font> <br>
<p><%= $player1hitpoints %><br></p>
<form action="/attack1">
<input type="submit" id="player1attack" value="Attack">
</form>
<!-- <button type="button" name="attackplayer1" value="Attack"></button> -->
<br>
<br>
<br>
<font size="80"><%= @player2name %></font><br>
<p><%= $player2hitpoints - 10%></p>
<form action="/attack2">
<input type="submit" id="player2attack" value="Attack">
</form>
</form>
