<head>
<style>
p { border-style:solid; border-color:#287EC7; font-size: 40px}
</style>

</head>

<h1> The Arena </h1>
<%= @game.player1.name %> attacked <%= @game.player2.name %><br>
<%= @game.player2.name %> lost 10 HP!<br>
<font size="80"><%= @game.player1.name %></font> <br>
<p><%= @game.player1.hitpoints = %><br></p>
<form action="/attack1">
<input type="submit" id="player1attack" name="player1attack" value="Attack">
</form>
<!-- <button type="button" name="attackplayer1" value="Attack"></button> -->
<br>
<br>
<br>
<font size="80"><%= @game.player2.name %></font><br>
<p><%= @game.player2.hitpoints %></p>
<form action="/attack2">
<input type="submit" id="player2attack" name="player2attack" value="Attack">
</form>
</form>
